RewriteEngine On

RewriteRule ^index.html$ index [L]
RewriteRule ^cv.html$ cv [L]
RewriteRule ^portfolio.html$ portfolio [L]
RewriteRule ^contact.html$ contact [L]

RewriteRule ^(.*)\#(.*)$ $1.html#$2[L]

ErrorDocument 404 /erreur404.html
ErrorDocument 403 /erreur403.html