RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule (.*) $1.html [L]
RewriteRule ^(.*)\#(.*)$ $1.html#$2 [L]

ErrorDocument 404 http://10.56.8.61/developpement%20back/noktaris.github.io/404.html
ErrorDocument 403 http://10.56.8.61/developpement%20back/noktaris.github.io/403.html